{% extends 'layout.html.twig' %} {% block title %}{{ parent() }}Accueil{%
endblock %} {% block content %}

<div class="card bg-transparent text-white">
  <video width="100%" height="600" autoplay loop>
    <source src="{{ asset('img/Girl34728.mp4') }}" />
  </video>
  <div class="card-img-overlay d-flex align-items-center flex-column mb-6">
    <h1 class="card-title" style="padding-top: 30%">Welcome The Thi's Shop</h1>
    <p class="card-text p-2">♥ Une sélection rien que pour vous ♥</p>
  </div>
</div>
<div class="row mt-5 justify-content-center text-center">
  <div class="container-fluid">
    <div class="row">
      {% for produit in produit %}
      <div class="col col-md-3 mt-1">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">{{ produit.titre }}</h5>
            <a href="{{ path("produit_show", {id:produit.id})}}"><img
              width="100%"
              src="{{ asset('uploads/' ~ produit.photo) }}"
              alt="{{ produit.titre }}"
            ></a>
            <h6>{{ produit.titre }}</h6>
            <h6>Couleur : {{ produit.couleur }}</h6>
            <h6>Taille : {{ produit.taille }}</h6>
            <h6>Stock : {{ produit.stock }}</h6>
            <h6 class="text-danger">Prix : {{ produit.prix }} €</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
